<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game list</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/GameListStyles.css}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>

<body>
	<div class="container-xxl">
		<img id="img" src="./game2.png" alt="Image game">
	</div>
	<div class="container">
		<h1 class="tittle">
			Game list<br/>
			<div class="col">
				<h5 class="center">Filtros</h5>
				<div>
					<form class="formulario" th:action="@{/findByNintendo}" th:object="${game}"
						method="GET">
						 <button type="submit" id="btn1" class="btn btn-dark">Listar por nintendo</button>
					</form>
				</div>
				<div>
					<form class="formulario" th:action="@{/listgenre}" method="GET">

						<input name="genre" id="genre" type="text" class="form-control"
							placeholder="Listar por género"> <input
							class="btn btn-primary" id="btn2" type="submit" value="Buscar">
					</form>
				</div>
				<div>
					<form class="formulario" th:action="@{/listyear}" method="GET">

						<input name="year" id="year" type="number" class="form-control"
							placeholder="Listar por año"> <input
							class="btn btn-primary" id="btn3" type="submit" value="Buscar">
					</form>
				</div>
			</div>
		</h1>
		<h3 class="subtittle">User table data</h3>
		<a href="/newGame" class="btn btn-dar" id="newGame">New game</a>
		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr class="odd">
							<th scope="col">Name</th>
							<th scope="col">Year</th>
							<th scope="col">Publisher</th>
							<th scope="col">Genre</th>
							<th scope="col">Platform</th>
							<th scope="col">North America Sales</th>
							<th scope="col">Europa Sales</th>
							<th scope="col">Japan Sales</th>
							<th scope="col">Other Sales</th>
							<th scope="col">Global Sales</th>
							<th scope="col">Total Sum Sales</th>
						</tr>
					</thead>
					<tbody>
						<tr class="even" th:each="game, status : ${gameList}">
							<td scope="row" th:text="${status.index + 1}"></td>
							<td scope="row" th:text="${game.name}"></td>
							<td scope="row" th:text="${game.year}"></td>
							<td scope="row" th:text="${game.publisher}"></td>
							<td scope="row" th:text="${game.genre}"></td>
							<td scope="row" th:text="${game.platform}"></td>
							<td scope="row" th:text="${game.na_sales}"></td>
							<td scope="row" th:text="${game.eu_sales}"></td>
							<td scope="row" th:text="${game.jp_sales}"></td>
							<td scope="row" th:text="${game.other_sales}"></td>
							<td scope="row" th:text="${game.global_sales}"></td>
							<td scope="row" class="botone"><a
								th:href="@{/edit(id=${game.id})}">Edit</a></td>
							<td scope="row" class="botone"><a
								th:href="@{/delete(id=${game.id})}">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<footer>
			<small id="pie">Copy rigth 2022.</small>
		</footer>
	</div>
</body>

</html>