
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game form</title>
</head>

<body>
	<div class="container">
		<h1>Games </h1>
		<h2>Rellene los campos</h2>
		<div align="center">
			<h2>GAMES FORM</h2>

			<form method="post" th:object="${game}" th:action="@{/save}">
				<input id="id" type="hidden" th:field="*{id}" />
				<table>
					<tr>
						<td><label for="name">Name:</label></td>
						<td><input type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td><label for="year">Year:</label></td>
						<td><input type="number" pattern="YYYY" required  
						 maxlength="4" placeholder="Año como YYYY" th:field="*{year}" /></td>
					</tr>
					<tr>
						<td><label for="publisher">Publisher:</label></td>
						<td><input type="text" placeholder="Ej: Nintendo" th:field="*{publisher}" /></td>
					</tr>
					<tr>
						<td><label for="genre">Genre:</label></td>
						<td><input type="text" placeholder="Ej: Action" th:field="*{genre}" /></td>
					</tr>
					<tr>
						<td><label for="platform">Platform:</label></td>
						<td><input type="text" placeholder="Ej: PS4" th:field="*{platform}" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type="submit"
							value="Save Game"></td>
					</tr>
				</table>
			</form>

		</div>
	</div>
</body>

</html>