<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game list</title>
</head>

<body>
	<div class="container">

		<h1>
			Game list<br />
		</h1>

		<h2>List of games</h2>
		<p>User table data</p>

		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Year</th>
				<th>Publisher</th>
				<th>Genre</th>
				<th>Platform</th>
			</tr>
			<tr th:each="game, status : ${gameList}">
				<td th:text="${status.index + 1}"></td>
				<td th:text="${game.year}"></td>
				<td th:text="${game.publisher}"></td>
				<td th:text="${game.genre}"></td>
				<td th:text="${game.platform}"></td>
				<td><a th:href="@{/edit(id=${game.id})}">Edit</a> | <a
					th:href="@{/delete(id=${game.id})}">Delete</a></td>
			</tr>

		</table>
		<p>
			<a href="/new" class="btn btn-primary">New game</a>
		</p>
	</div>
</body>

</html>